@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html, body {
    margin: 0;
    padding: 0;
}

li a, .button {
  text-decoration:none;
}

li a:hover, .button:hover {
  color:green;
}

.appname {
  text-align :center;
  background :blue;
  color      :white;
  font-family:helvetica;
  font-size  :20pt;

}

.fieldname {
  float:left;
  width:120px;
}

.main {
  margin-left:40px;
}

.info {
  background :lightgreen;
  color      :blue;
	border     :1px solid green;
	padding    :5px 10px;
  margin-left:40px;
}
.subhead {
  font-weight:bold;
}

.taken, .error {
  color:red;
}

.available {
  color:green;
}

.whisper {
  font-style:italic;
  color     :#006600;
}

#logo {
  font-family:Georgia;
  font-weight:bold;
  font-style:italic;
  font-size :97px;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.choice {
    float: left;
    display: inline;
    margin-left: 3.8em;
}
.choice input {
    vertical-align: middle;
}
.form-login{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form a {
  color: #43A050;
  font-size: 18px;
  font-weight:bold;
}
#userType{
	font-size: 5px;
}
img.resize{
  object-fit: cover;
  width: 100%;
  height:300px;
}
button.modalBtn{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 200px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
figure {
   background-color: #fff;
   padding: 5px;
   font-size: .875em;
   display: table;
}

figure img {
    display: block;
    width: 100%;
}

figcaption {
    display: inline-block !important;;

    caption-side: bottom;
    background: #fff;
    color: #5e5e5e;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}​
.img-overlay img {
  margin: 0;
  opacity: 0.5;
  display: block;
}
.img-overlay:hover .overlay {
  opacity: 9;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: lightgreen;
}
.text {
  text-align: center;
  color: white;
  font-size: 30px;
  position: absolute;
  padding-top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.img-overlay
{
    position: relative;
    float: left;
}
.fa-minus-circle {color:red;}
